name: Test Formalities

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    name: Test Formalities
    uses: georgesapkin/openwrt-actions-shared-workflows/.github/workflows/formal.yml@formal-fix-permissions-v2
    with:
      post_comment: true
      warn_on_no_modify: true
