name: Test Formalities

on:
  pull_request:

permissions:
  pull-requests: write

jobs:
  build:
    name: Test Formalities
    uses: openwrt/actions-shared-workflows/.github/workflows/formal.yml@main
    with:
      exclude_weblate: true
      post_comment: true
